html, body{
    height: 100%;
}

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif ;
    flex-direction: column;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
    
}

.board{
    height:300px;
    width:300px;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

   
    
}

.cell{
    border-bottom: 3px solid black ;
    border-right: 3px solid black ;
    font-size: 50px;
    text-align: center;
    line-height: 95px;
    cursor: pointer;
    user-select: none;
}

.cell:nth-child(3n){
    border-right: none;
  
}
.cell:nth-child(n+7){
    border-bottom: none;
}

.cell.highlight{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%)
}

#button{
    margin-top: 30px;
    padding: 5px 10px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }

#turn{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: x-large;
    border-style: double;
    border-radius: 5px;
    padding: 5px;
   
}