
<!-- navbar -->
<nav class="navbar navbar-expand  navbar-dark justify-content-center" style="background-color: #0d7dcc" >
  <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/login" >Login</a>
      <a class="nav-item nav-link" routerLink="/signup" >Sign Up</a>
  </div>
</nav>
<!-- container for login -->
<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col-md-6 ">
            <div class="card">
              <!-- title -->
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please Enter Email & Password!!</h6>
                </div>
                <!-- Form -->
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <!-- Email -->
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <span class="text-danger" *ngIf="loginForm.controls['email'].dirty&& loginForm.hasError('required','email')" >Email is required</span><br>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input formControlName="password"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          <span class="text-danger" *ngIf="loginForm.controls['password'].dirty&& loginForm.hasError('required','password')" >Password is required</span><br>
                        </div>
                        <!-- Login button -->
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mx-2">Login</button>
                      </form>
                      <!-- Shortcut for sign up -->
                      <a class="nav-item nav-link d-flex justify-content-center" routerLink="/signup">Click to sign up</a>
            </div>
        </div>
    </div>
</div>